# Inky Snippets

extends eruby

snippet container
	<container>
		${0}
	</container>

snippet row
	<row>
		${0}
	</row>

snippet columns
	<columns>
		${0}
	</columns>

snippet button
	<button href="${0:#}">${1}</button>

snippet callout
	<callout>
		${0}
	</callout>

snippet menu
	<menu>
		${0}
	</menu>

snippet item
	<item href="${0:#}">${1}</item>

snippet spacer
	<spacer size="${0}"></spacer>

snippet wrapper
	<wrapper>
		${0}
	</wrapper>
